<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honey Do</title>
    <!-- <link rel="stylesheet" href="../../public/css/custom.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-RbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OByR+L2VxAyN1OvVY5Wq7t7TcxbA+ZhpuQzBv7/jQhnxyOgjW8wC2LhdZcEgxVHj" crossorigin="anonymous"></script>   -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
</head>